/* Global Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: gold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000;
    border-bottom: 1px solid gold;
}

.logo {
    height: 150px;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: gold;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

.book-btn {
    padding: 10px 18px;
    border: 1px solid gold;
    border-radius: 5px;
}

.book-btn:hover {
    background-color: gold;
    color: black;
}

/* HERO */
.hero {
    text-align: center;
    padding: 140px 20px;
    background: linear-gradient(to bottom, #000, #111);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-btn {
    margin-top: 20px;
    display: inline-block;
    background-color: gold;
    color: black;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.hero-btn:hover {
    background-color: white;
    color: black;
}

/* Sections */
section {
    padding: 80px 40px;
    text-align: center;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    margin: 10px 0;
    font-size: 20px;
}

footer {
    border-top: 1px solid gold;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
